<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="delivery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="delivery.Properties.Settings.Delivery_MevConnectionString"
            connectionString="Data Source=.;Initial Catalog=Delivery_Mev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="delivery.Properties.Settings.Delivery_MevConnectionString1"
            connectionString="Data Source=95.216.93.102;Initial Catalog=Delivery_Mev_Db;User ID=MYS;Password=015903570Miv"
            providerName="System.Data.SqlClient" />
        <add name="delivery.Properties.Settings.SubDelivery_mevConnectionString"
            connectionString="Data Source=.;Initial Catalog=SubDelivery_mev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="delivery.Properties.Settings.Delivery_Mev_DbConnectionString"
            connectionString="Data Source=95.216.93.102;Initial Catalog=Delivery_Mev_Db;Persist Security Info=True;User ID=MYS;Password=015903570Miv"
            providerName="System.Data.SqlClient" />
        <add name="delivery.Properties.Settings.DeliveryWebConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DeliveryWeb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <delivery.Properties.Settings>
            <setting name="CompanyName" serializeAs="String">
                <value>كويك دليفري</value>
            </setting>
            <setting name="Brunch" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="delete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>Delivery_Mev</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>123</value>
            </setting>
        </delivery.Properties.Settings>
    </userSettings>
</configuration>